.login-box,
.signup-box {
  width: 90%;
  max-width: 350px;
  padding: 25px;
}

@media (max-width: 480px) {
  .login-container h2,
  .signup-container h2 {
    font-size: 22px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 15px;
  }
}
