.signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.signup-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.signup-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.signup-box input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 15px;
}

.signup-box button {
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.signup-box button:hover {
  background-color: #1c7e34;
}
