.book-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.book-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.buy-btn {
  background: royalblue;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}
