.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.btn {
  background: #1a73e8;
  color: white !important;
  padding: 6px 14px;
  border-radius: 5px;
}

/* Mobile Button */
.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
}

/* Mobile View */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  }

  .nav-links.open {
    display: flex;
  }
}
